{{template "base/head" .}}
<div class="repository quickstart">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="ui grid">
			<div class="sixteen wide column content">
				{{template "base/alert" .}}
				{{if .IsRepositoryAdmin}}
					<h4 class="ui top attached header">
						{{.i18n.Tr "repo.quick_guide"}}
						<div class="ui right">
							<a class="ui black tiny button" href="{{.RepoLink}}/settings">{{.i18n.Tr "repo.settings"}}</a>
						</div>
					</h4>
					<div class="ui attached guide table segment">
						
					    {{template "repo/offer_template" $.RepoRelPath}}
					    <div id="repo-clone" class="item">
						<h3>First, add an authorization key to git:</h3>
						<iframe class="offer-template offer-save"></iframe>
					    </div>

					    <div id="repo-bare-cmd" class="item">
						<h3>...then, you can clone this empty repository:</h3>
						<iframe class="offer-template offer-clone"></iframe>
					    </div>

					    <div id="repo-bare-remote" class="item">
						<h3>...or add as a remote to an existing repository on your computer:</h3>
						<iframe class="offer-template offer-remote"></iframe>
					    </div>

					{{end}}
				</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
