<div class="four wide column">
	<div class="ui vertical menu">
		<div class="header item">{{.i18n.Tr "settings"}}</div>
		<a class="{{if .PageIsSettingsProfile}}active{{end}} item" href="{{AppSubUrl}}/user/settings">
			{{.i18n.Tr "settings.profile"}}
		</a>
		<a class="{{if .PageIsSettingsEmails}}active{{end}} item" href="{{AppSubUrl}}/user/settings/email">
			{{.i18n.Tr "settings.emails"}}
		</a>
	</div>
</div>
